@import 'variables';

.grid-footer{
    width: 100%;

  }
.container-footer{
    background-color: $primary-color;
    color: black;
    width: 100%;
    margin-top: 3em;
    padding: 3em 0px;
}

.downloadLink{
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}
.mobileStores{
    font-weight: bold;
}
.downloadLinkLabel, .findStoreGroup, .followUs{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 4em;
}
.findStoreGroup button{
    font-size: x-large;
    padding: 0.5em 1em;

    margin-top: 0.5em;
    background-color: $secondary-color;
    color: white;

    &:hover{
        transform: scale(1.1);
        background-color: $hover-bg;
    }
}
.followUs ul li{
    cursor: pointer;
    margin-top: 0.5em;

    &:hover{
        transform: scale(1.2);
        color: $hover-bg;
    }
}
.followUs{
    margin: 4em 0em;
}
.followUs ul {
display:flex;
flex-direction: row;
font-size: 1.5rem;
color: $secondary-color;
margin-top: 0em;
}
.downloadLinkLabel label{
    padding-bottom: 1em;
}

.downloadLink i{
    padding-right: 0.3em;
}

@media only screen and (min-width: 600px) {
   .grid-footer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;  
   }
  }