@import 'variables';

.hidden{
  display: none;
}
a{
    color: white;
    display: block;
}

.header-container{
  margin: 0px;
  width: 100%;
  background-color: $secondary-color;
  z-index: 100;
  position: sticky;
  top: 0px;
}

.nav-desc{
    max-width: 1100px;
    width: 100%;
    background-color: $secondary-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-nav{
      padding: 0 30px;
      overflow: auto;
      flex: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    #logo{
      padding: 0em;
    }
    a{
      padding: 1em 0em;
      text-align: center;
      font-weight: bold;
    }
    button{
      font-size: 1.5rem;
      background-color: $secondary-color;
      color: white;
      padding: 0.1em;
      border-style: none;
    }
 
}
#search input[type="submit"]{
  background-color: $secondary-color;
  color: white;
  font-size: 1.5rem;
  border-radius: 20%;
  cursor: pointer;
}
#search input[type="search"]{
  font-size: 1.5rem;
  width: 80%;

} 
.nav-desc a:hover {
    background-color: $hover-bg;
    color: $hover-color;
}
.nav-desc #logo:hover{
 background-color: initial;
}
#search{
  margin: auto 1em;
}

@media only screen and (min-width: 715px) {

    .nav-desc {
      width: 100%;
      margin: 0em auto;
      flex-direction: row;
      justify-content: space-between;
      a{
        margin-left: 1em;
        padding: 1em 0em 1em;
        width: auto;
      }
      #logo{
        padding: 0em;
        margin: 0em;
      }
    }
    .nav-desc .icon{
      display: none;
    }
    #nav-d{
      padding: 0 30px 0 0;
      margin: 0 auto;
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
}

