.card-item img{
    aspect-ratio: auto;
    width: 100%;
    object-fit: contain;
    transition: transform 2s;
    &:hover{
      transform: scale(1.1);
    }
}
.card-item{
    display: flex;
    flex-direction: column;
    padding: 1em 0px;
    justify-content: space-between;
 
}
.flex-cards-wrapper {
    margin-top: 15px;
    height: auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}
.price-card{
    font-weight: bold;
}
.card-item>p{
    margin-top: 1em;
}

@media (prefers-reduced-motion: reduce) {
    .card img {
      animation: none;
    }
}  

@media only screen and (min-width: 400px) {
    .flex-cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
 
  }
@media only screen and (min-width: 600px) {
    .flex-cards-wrapper {
            grid-template-columns: repeat(4, 1fr);
        }

  }