.card-item img{
    height: 150px;
    width: 100%;
}
.card-item{
    display: flex;
    flex-direction: column;
    padding: 1em 0px;
    justify-content: space-between;
 
}
.flex-cards-wrapper {
height: auto;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
}
.price-card{
    font-weight: bold;
}
.card-item>p{
    margin-top: 1em;
}

@media only screen and (min-width: 400px) {
    .flex-cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
 
  }
@media only screen and (min-width: 600px) {
    .flex-cards-wrapper {
            grid-template-columns: repeat(3, 1fr);
        }

  }